.header.projects {
  position: relative;
  height: calc(100vh - 11px);
  overflow: hidden;

  #particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #8b5cf6;
    z-index: -2;
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
}
