@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Indie Flower', cursive;
  background: linear-gradient(to right, #3a6073, #3a7bd5);
}

#quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quiz-outcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;

  &--winner {
    background: #007f7f;
    border: 3px solid #4de167;
  }

  &--loser {
    background: #007f7f;
    border: 3px solid #d52929;
  }

  &__heading {
    font-size: 3.5rem;
  }

  &__text {
    font-size: 1.8rem;
    color: #fff;
  }

  &__number {
    font-size: 2.4rem;

    &--winner {
      color: #4de167;
    }

    &--loser {
      color: #d52929;
    }
  }
}

.correct {
  background-color: #4de167 !important;
}

.incorrect {
  background-color: #d52929 !important;
}

.display-controls {
  display: flex !important;
}

.quiz-container {
  background-color: #007f7f;
  padding: 2rem;
  width: 40rem;
  margin-bottom: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.quiz-question__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.quiz-top {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    font-size: 3.5rem;
  }

  &__count {
    font-size: 2.4rem;
    color: white;
    margin-bottom: 1.2rem;
  }

  &__display {
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
}

.quiz-question {
  display: flex;
  align-items: center;
  gap: 2rem;

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
  }

  &__answer {
    font-size: 2rem;
    background-color: white;
    padding: 2rem;
    cursor: pointer;
    flex: 1;
  }
}

.controls {
  display: none;
  gap: 3rem;

  &__btn {
    padding: 1.4rem 2.4rem;
    border: none;
    background: hsla(180, 96%, 38%, 1);
    transition: all 200ms ease;
    cursor: pointer;

    &:hover {
      background: hsla(180, 96%, 38%, 0.5);
    }

    &--restart {
      margin: 2rem 0rem 1rem 0rem;
    }
  }
}
