@media (min-width: 340px) {
  html {
    font-size: 70%;
  }
}

@media (min-width: 400px) {
  .section-about {
    padding-top: 6.4rem;
  }

  .about__subheading {
    width: 90%;
  }

  .container {
    max-width: 100%;
  }
}

@media (min-width: 620px) {
  // Header

  html {
    font-size: 75%;
  }

  .heading-tertiary {
    font-size: 1.6rem;
    align-self: flex-start;
  }

  .main__logo {
    display: none;
  }

  .nav-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // Hero

  .hero {
    flex-direction: row;
    padding: 0rem 6.2rem 15rem 6.2rem;
    gap: 4rem;
    justify-content: center;
    align-items: center;

    &__info {
      align-items: flex-start;
      text-align: left;

      &--btn {
        display: block;
      }
    }

    &__image-box {
      img {
        width: 225px;
        height: 225px;
      }

      &--btn {
        display: none;
      }
    }
  }

  // Hamburger

  .hamburger {
    display: none;
  }

  // About

  .section-about {
    height: 75vh;
    align-items: center;
    justify-content: center;
  }

  .about {
    flex-direction: row;
  }

  // Skills

  .section-skills {
    max-width: 75%;
    align-items: flex-start;

    &-text {
      max-width: 70%;
      padding: 0 0 0 0;
      margin-bottom: 6rem;
    }
  }

  // Contact

  .contact-form {
    padding: 4rem 2.5rem;

    &__heading {
      padding-right: 0rem;
    }
  }
}

@media (min-width: 850px) {
  html {
    font-size: 77.5%;
  }

  .section-skills {
    margin: 0 auto;
    max-width: 70%;
    padding-top: 4.2rem;
  }
}

@media (min-width: 1024px) {
  .section-skills-text__heading {
    justify-self: center;
  }

  .section-about {
    max-width: 50%;
    // padding-bottom: 15rem;
  }

  .main.about-section .nav-secondary,
  .main.contact-section .nav-secondary {
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 100%;
  }
}
