.quizContainer, .eachAnswer, body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quizContainer .questionBox, .eachAnswer .answerNumber {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.eachAnswer:nth-child(odd)::before, .eachAnswer:nth-child(even)::before {
  content: '';
  position: absolute;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  background-color: white;
  z-index: 0;
}

.quizContainer .questionBox, .eachAnswer .answerNumber, .eachAnswer .answerText {
  border: 2px solid #C84B31;
}

.quizContainer {
  background-color: white;
  width: 90%;
  height: 83%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 3px #000;
          box-shadow: 0 0 3px #000;
}

.quizContainer .quizTitle {
  color: black;
  font-size: 1.5rem;
}

.quizContainer .pageNumber {
  color: black;
  font-size: 1.1rem;
  margin-top: -35px;
}

.quizContainer .questionBox {
  width: 90%;
  height: 12%;
  background-color: white;
  border-radius: 15px;
  font-size: 1.1rem;
  margin-bottom: 9px;
  padding: 2px 20px;
  margin-top: -20px;
}

.quizContainer .answerBox {
  height: 50%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-top: -12px;
}

.eachAnswer {
  height: 25%;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

.eachAnswer:nth-child(odd)::before {
  left: 0;
}

.eachAnswer:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-radius: 0 25px 25px 0;
}

.eachAnswer:nth-child(even)::before {
  right: 0;
}

.eachAnswer .answerNumber {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  z-index: 9;
}

.eachAnswer .answerText {
  width: 85%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding-left: 20px;
}

.correct {
  background-color: #34BE82;
}

.result {
  font-size: 1.9rem;
  background-color: white;
  color: black;
  width: 80%;
  height: 30%;
  padding: 10px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 3px #000;
          box-shadow: 0 0 3px #000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Indie flower';
  background: url("/Quiz/ITQuiz/Sass/assets/question-g64a92d398_1280.png") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.generalContainer {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=body.css.map */