.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: hidden;
}

.container-fluid {
  max-width: 100%;
  // background-color: blue;
  padding: 0rem 3.2rem;
  margin: 0 auto;
}

// Here are the material breakpoints:

// < 480 / 4 cols / xsmall
// 481 - 600 / 8 cols / xsmall
// 601 - 840 / 8 cols / small
// 841 - 960 / 12 cols / small
// 961 - 1280 / 12 cols / medium
// 1281 - 1440 / 12 cols / large
// 1441 - 1600 / 12 cols / large
// 1601 - 1920 / 12 cols / large (HD desktops)
// > 1920 / 12 cols / large (Retina desktops)
