.margin-right-sm {
  margin-right: 1.6rem !important;
}

.mg-bottom-sm {
  margin-bottom: 2.4rem !important;
}

.mg-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

.display-none {
  display: none;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
