.quizContainer, .eachAnswer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quizContainer .questionBox, .eachAnswer .answerNumber, .navButtons .previousBtn, .navButtons .nextBtn {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.eachAnswer:nth-child(odd)::before, .eachAnswer:nth-child(even)::before {
  content: '';
  position: absolute;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  background-color: white;
  z-index: 0;
}

.quizContainer .questionBox, .eachAnswer .answerNumber, .eachAnswer .answerText {
  border: 2px solid #C84B31;
}

.quizContainer {
  background-color: white;
  width: 90%;
  height: 83%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 3px #000;
          box-shadow: 0 0 3px #000;
}

.quizContainer .quizTitle {
  color: black;
  font-size: 1.5rem;
}

.quizContainer .pageNumber {
  color: black;
  font-size: 1.1rem;
  margin-top: -35px;
}

.quizContainer .questionBox {
  width: 90%;
  height: 12%;
  background-color: white;
  border-radius: 15px;
  font-size: 1.1rem;
  margin-bottom: 9px;
  padding: 2px 20px;
  margin-top: -20px;
}

.quizContainer .answerBox {
  height: 50%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-top: -12px;
}

.eachAnswer {
  height: 25%;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

.eachAnswer:nth-child(odd)::before {
  left: 0;
}

.eachAnswer:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-radius: 0 25px 25px 0;
}

.eachAnswer:nth-child(even)::before {
  right: 0;
}

.eachAnswer .answerNumber {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  z-index: 9;
}

.eachAnswer .answerText {
  width: 85%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding-left: 20px;
}

.correct {
  background-color: #34BE82;
}

.result {
  font-size: 1.9rem;
  background-color: white;
  color: black;
  width: 80%;
  height: 30%;
  padding: 10px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 3px #000;
          box-shadow: 0 0 3px #000;
}

.button {
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px #000;
          box-shadow: 0 0 3px #000;
  font-size: 1.1rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.startBtn, .restartBtn {
  width: 30%;
  height: 8%;
  background-color: #C84B31;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white;
  border-radius: 10px;
}

.navButtons {
  width: 60%;
  height: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.navButtons .previousBtn, .navButtons .nextBtn {
  background-color: #C84B31;
  height: 100%;
  width: 60%;
  color: white;
  border-radius: 10px;
}
/*# sourceMappingURL=buttons.css.map */