*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root refers to the top level element so it's equivalent to the html selector */
:root {
  --color-text: #010101;
  --color-background: #182635;
  --font-weight-600: 600;
}

html {
  font-size: initial;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}
