*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root refers to the top level element so it's equivalent to the html selector */
:root {
  --color-text: #f80974;
  --color-background-primary: #283f58;
  --color-background-dark: #182635;
  --font-weight-600: 600;

  --mg-bottom-md: 2.8rem;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--color-background-primary);
  color: var(--color-text);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.dark {
  background: var(--color-background-dark);
  color: #f80974;
}

a {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  color: var(--color-text);
}
