*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.clock {
  position: relative;
  background: #fff1bf;
  background: #f98511;
  background: -webkit-linear-gradient(top left, #f98511, #d3762a);
  background: -moz-linear-gradient(top left, #f98511, #d3762a);
  background: linear-gradient(to bottom right, #f98511, #d3762a);
  width: 65rem;
  height: 65rem;
  border-radius: 50%;
  border: 2rem solid #111827;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;

  // Glass effect
  &::before {
    position: absolute;
    content: '';
    width: 61rem;
    height: 61rem;
    top: 0rem;
    left: 0rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 50%;
    backdrop-filter: blur(5px);
    z-index: 1;
  }

  // Middle dot
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    border-radius: 50%;
    z-index: 100;
    background: #dc2626;
  }

  &__date {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    width: 25%;
    padding: 0.3rem;
    background: #fde68a;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  &__digital {
    font-family: 'Orbitron', sans-serif;
    font-size: 0.2rem;
    width: 25%;
    padding: 0.3rem;
    background: #fde68a;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  &__digit {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.5rem;
  }

  &__hand {
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    z-index: 100;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;

    &--hour {
      transform: translateX(-50%);
      height: 28%;
      width: 0.8rem;
    }

    &--minute {
      transform: translateX(-50%) rotate(30deg);
      height: 38%;
      width: 0.6rem;
    }

    &--second {
      background: #dc2626;
      transform: translateX(-50%) rotate(60deg);
      height: 38%;
      width: 0.3rem;
    }
  }

  &__hour {
    padding: 3rem;
    color: #f9f6ee;
    font-size: 3rem;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  &__number {
    font-size: 3rem;
    position: absolute;
    z-index: 100;
  }

  &__segment {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform-origin: center;

    &::after {
      display: inline-block;
      position: relative;
      top: 0px;
      left: 49.5%;
      content: '';
      width: 10px;
      height: 20px;
      background: #fcf5e5;
      text-align: center;
    }
  }
}

@media (max-width: 500px) {
  html {
    font-size: 35%;
  }

  .clock__hour {
    padding: 4.2rem;
  }

  .clock__hand {
    &--hour {
      height: 25%;
    }

    &--minute {
      height: 32%;
    }

    &--second {
      height: 34%;
    }
  }
}
