// Sass Variables
$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #fff;

// Sass Maps => key:value pairs
$font-weights: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);

// Media Variables
$mobile: 800px;
