@keyframes image-skew {
  0% {
    transform: rotateY(0deg);
    filter: drop-shadow(10px 10px 15px $primary-shade-light) saturate(140%)
      blur(0.4px);
  }

  25% {
    filter: drop-shadow(10px 10px 15px $primary-color) saturate(140%)
      blur(0.4px);
  }

  50% {
    filter: drop-shadow(10px 10px 15px $primary-shade-dark) saturate(140%)
      blur(0.4px);
  }

  75% {
    filter: drop-shadow(10px 10px 15px #fef3c7) saturate(140%) blur(0.4px);
  }

  100% {
    transform: rotateY(30deg);
    filter: drop-shadow(10px 10px 15px #fde68a) saturate(140%) blur(0.4px);
  }
}

@keyframes pop-in-left {
  0% {
    opacity: 0;
    transform: translateX(-150%) scale(1.2);
    color: white;
  }

  95% {
    transform: translateY(2px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0%) scale(1);
  }
}

@keyframes pop-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(150%) scale(1.1);
    color: $secondary-color;
  }

  100% {
    opacity: 100%;
    transform: translateY(0%) scale(1);
  }
}

@keyframes rotate-in-top {
  0% {
    transform: rotate(45deg) translate(-250%, -50%);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(45deg) translate(-50%, -50%);
  }
}

@keyframes rotate-in-top-circle {
  0% {
    transform: translate(-250%, -250%);
  }

  25% {
    transform: translate(-180%, -180%);
    // border-radius: 40%;
  }

  50% {
    transform: translate(-110%, -110%);
    // border-radius: 30%;
  }

  75% {
    transform: translate(-30%, -30%);
    // border-radius: 20%;
  }

  100% {
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 0;
    background-color: rgba(#8b5cf6, 0.3);
  }
}

@keyframes beat {
  0% {
    transform: scale(1.1);
  }

  33% {
    transform: scale(1);
  }

  66% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade-in-bottom {
  0% {
    opacity: 0%;
    transform: translateY(20rem);
  }

  100% {
    opacity: 100%;
  }
}
