.container {
  max-width: 90%;
  padding: 1rem 3.2rem;
  margin: 0 auto;
  // background-color: orangered;
}

.container-fluid {
  max-width: 100%;
  // background-color: blue;
  padding: 0rem 3.2rem;
  margin: 0 auto;
}
