*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #bfdbfe;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 75%;
  margin: 0 auto;
}

.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: orangered;

  width: 800px;

  &__btn {
    display: flex;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    width: 4rem;
    height: 2rem;
    background: rgba(0, 0, 0, 0.7s);
    z-index: 110;
    transition: all 400ms ease;
    cursor: pointer;

    &--left {
      left: -2rem;

      &:hover {
        transform: scale(1.3);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
    }

    &--right {
      right: -2rem;
    }

    &:hover {
      transform: scale(1.3);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }

  &__view {
    position: absolute;
    right: 100vw;
    transition: all 1000ms ease;

    &--active {
      position: relative;
      right: 0vw;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  &__buttons {
    display: flex;
    padding: 0.3rem 1rem;
    position: absolute;
    bottom: -4rem;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    height: 8%;
    z-index: 100;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 400ms ease;

    &--active {
      background: black;
    }

    &--random {
      text-transform: uppercase;
      padding: 0.5rem 1.2rem;
      letter-spacing: 2px;
      width: 5rem;
      height: 2rem;
      border-radius: 0;
    }

    &:hover {
      transform: scale(1.3);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
}
