@import "../css/buttons";

.App {
  font-style: bold;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  align-items: center;
  padding: 20px;
  background-color: lightslategray;
  box-shadow: inset 0 0 0 2px rgba(26, 26, 40, 0.3),
              inset 10px 10px 8px 0px rgba(26, 26, 40, 0.3),
              inset -6px -1px 20px 0px rgb(208, 210, 212);
  width: 300px;
  border: 2px solid rgb(26, 26, 40);
  border-radius: 10px;
}

.input {
  position: relative;
  padding: 10px;
  padding-left: 20px;
  width: 260px;
  margin: auto;
  border: 1px solid rgb(26, 26, 40);
  background-color: rgb(232, 240, 248);
  box-shadow: inset 0 0 0 2px rgba(26, 26, 40, 0.3),
              inset 10px 10px 20px rgba(26, 26, 40, 0.3);
  color: rgb(26, 26, 40);
  border-radius: 10px;
  font-weight: bolder;
  font-size: 20px;
}

.input:focus {
  outline: none;
} 

.card {
  position: relative;
  padding: 20px;
  margin-top: 20px;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid rgb(26, 26, 40);
  background-color:rgba(26, 26, 40, 0.3);
  box-shadow: inset 0 0 0 2px rgba(26, 26, 40, 0.3),
              inset 10px 10px 20px rgba(26, 26, 40, 0.3);
  line-height: 0.3;
  .cityname{
    font-size: 30px;
    margin-bottom:50px;
    text-shadow: 4px 4px 10px rgb(26, 26, 40);
  }
}

.welcome {
  line-height: 1.25;
  font-size: 16px;
  height: 300px;
}

.weatherIcon {
  position: absolute;
  right: -20px;
  bottom: -40px;
}