  .pageBTN{
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background: radial-gradient(circle, rgb(84, 84, 95) 0%, rgb(26, 26, 40) 100%);
  }

  .pageBTN::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    left: 5px;
    top: 5px;
    border-radius: 50%;
    background-color: rgba(148, 152, 158, 0.2);
  }

  .pageBTN::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(148, 152, 158, 0.2);
  }

  .pageBTN:hover {
    background: radial-gradient(circle, rgb(132, 194, 184) 0%,  rgb(13, 13, 141) 100%);
  }

  .pageButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    width: 250px;
    padding: 20px;
  }